In [1]:
pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\users\dell\anaconda3\lib\site-packages (2.2.9)
Note: you may need to restart the kernel to use updated packages.

In [7]:
import mysql.connector
database = mysql.connector.connect(
    host="localhost",
    user= "root",
    password="",
    database = "python_class"
)
db = database.cursor()

In [12]:
db.execute("SELECT * FROM student")
result =db.fetchall()
for x in result:
    print(x)

(1, '', 80, 80, 78, 90, 99, 98.0, 'A', 386)

In [17]:
db.execute("SELECT sn,Physics,total,percentage FROM student")
result =db.fetchall()
# for x in result:
#     print(x)
result

[(1, 80, 386, 98.0)]

In [23]:
db.execute("SELECT * FROM student WHERE Physics = 80")
result =db.fetchall()
# for x in result:
#     print(x)
result

[(1, '', 80, 80, 78, 90, 99, 98.0, 'A', 386)]

In [15]:
import mysql.connector
database = mysql.connector.connect(
    host="localhost",
    user= "root",
    password="",
    database = "python_class"
)
db = database.cursor()

sql = '''INSERT INTO student (`name`, `Physics`, `Chemistry`, `Biology`, `English`, `Maths`, `percentage`, `Grade`, `Total`) 
VALUES ('Shyam', '79', '89', '88', '99', '98', '98', 'A', '455');'''
db.execute(sql)
database.commit()

In [22]:
n = int(input("Enter n= "))
for i in range(n):
    name = input("enter your name: ")
    Physics = int(input("enter your physics marks: "))
    Maths = int(input("enter your maths marks: "))
    Chemistry = int(input("enter your chemistry marks: "))
    Biology = int(input("enter your biology marks: "))
    English = int(input("enter your english marks: "))

    Total = Physics + Maths + Chemistry + Biology + English 

    percentage = Total/5

    if percentage>=80:
        Grade = "A"
    elif percentage>=60:
        Grade = "B"
    elif percentage>=45:
        Grade = "C"
    else:
        Grade = "Fail"
    
    
sql = f'''INSERT INTO `student` (name, Physics, Chemistry, Biology, English, Maths, percentage, Grade, Total) 
VALUES ('{name}', {Physics}, {Chemistry}, {Biology}, {English}, {Maths}, {percentage}, '{Grade}', {Total});'''
db.execute(sql)
database.commit()

Enter n= 2
enter your name: Bipin Ranabhat
enter your physics marks: 98
enter your maths marks: 99
enter your chemistry marks: 96
enter your biology marks: 90
enter your english marks: 88
enter your name: Bibek Ranabhat
enter your physics marks: 99
enter your maths marks: 66
enter your chemistry marks: 33
enter your biology marks: 44
enter your english marks: 22

In [23]:
Grade = input("Enter Grade: ")
sn = int(input("Enter sn: "))
sql = f"UPDATE student SET grade = '{Grade}' WHERE sn = {sn}"
db.execute(sql)
database.commit()

Enter Grade: E
Enter sn: 1

In [25]:
sn = int(input("Enter sn: "))
sql = f"DELETE FROM student WHERE student.sn = {sn}"
db.execute(sql)
database.commit()

Enter sn: 1