In [1]:
# Date and time

In [5]:
import datetime as dt

x = dt.datetime.now()
print(x)

2023-06-07 17:13:55.307297

In [11]:
import datetime

x = datetime.datetime.now()

print(x.year)
print(x.month)
print(x.day)

print(x.strftime("%D"))

2023
6
7
06/07/23

In [12]:
import datetime as dt

x = dt.datetime.now()
name = input("enter name = ")
y = dt.datetime.now()
print(y-x)

enter name = Bipin Ranabhat
0:00:14.637119

In [13]:
(y).hour

17

In [14]:
(y).minute

21

In [15]:
(y).second

3

In [17]:
type(x)

datetime.datetime

In [28]:
import datetime 

x = datetime.datetime.now()
s1 = x.strftime("%S")

name = input("Enter your name: ")

y = datetime.datetime.now()
s2 = y.strftime("%S")
int(s2)-int(s1)

Enter your name: l

1

In [29]:
# Comprehensions : list,dictionary
l = [i for i in range(0,11)]
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [32]:
l = [int(input("Enter some value: "))for i in range(6)]
l

Enter some value: 7
Enter some value: 8
Enter some value: 9
Enter some value: 6
Enter some value: 5
Enter some value: 4

[7, 8, 9, 6, 5, 4]

In [33]:
d = {i:i**2 for i in range(1,6)}
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [34]:
d = {input("Enter name = "):input("Enter phone number: ") for i in range(2)}
d

Enter name = Bipin
Enter phone number: 9860797995
Enter name = Salina
Enter phone number: 9860797996

{'Bipin': '9860797995', 'Salina': '9860797996'}

In [36]:
import os
os.listdir()

['.git',
 '.ipynb_checkpoints',
 'bill.csv',
 'bill.txt',
 'bill2.txt',
 'billing.txt',
 'Bonus.ipynb',
 'Classworks.ipynb',
 'covid_data.csv',
 'data.csv',
 'data.txt',
 'Encapsulation.ipynb',
 'File Handling.ipynb',
 'firstproject.ipynb',
 'Function.ipynb',
 'if class.ipynb',
 'Inheritance.ipynb',
 'List.ipynb',
 'list_data.csv',
 'Logical operator.ipynb',
 'Loop.ipynb',
 'mysql.ipynb',
 'new_data.csv',
 'OOP.ipynb',
 'Pandas.ipynb',
 'Polymorphism.ipynb',
 'Project.ipynb',
 'Set.ipynb',
 'String.ipynb',
 'tag.csv',
 'Tuple.ipynb',
 'Untitled.ipynb']

In [37]:
os.mkdir('new_folder')

In [38]:
os.chdir('new_folder')

In [39]:
pwd

'C:\\Users\\DELL\\python broadway\\new_folder'

In [45]:
cd ..

C:\Users\DELL\python broadway

In [47]:
os.remove('data.txt')

In [48]:
os.rmdir('new_folder')

In [49]:
os.rename('bill.txt','Bill.txt')

In [51]:
import pandas as pd
data = {'name':['Ram','Shyam','Hari'],
       'age':[45,33,22],
       'add':['kathmandu','Bhaktapur','Lalitpur']}
df = pd.DataFrame(data)
df.to_json('info.json')
df

    name  age        add
0    Ram   45  kathmandu
1  Shyam   33  Bhaktapur
2   Hari   22   Lalitpur

In [16]:
# decorator
def outer_function(fun):
    
    def inner_function():
        x = fun()
    return inner_function()

@outer_function
def hello():
    print("hello world")
    
@outer_function
def hello():
    name = input("Enter your name: ")
    print(f"My name is {name}")

hello world
Enter your name: Bipin Ranabhat
My name is Bipin Ranabhat

In [14]:
def strings(function):
    def wrapper():
        fun = function()
        x = fun.capitalize()
        return x
    return wrapper

def split_string(function):
    def wrappe():
        func = function()
        splitted_string = func.split()
        return splitted_string
    return wrappe

@split_string
@strings
def info():
    return "Hello world"
info()

['Hello', 'world']