In [1]:
#Python collection 
#list 
#tuple
#dict
#set

In [3]:
# List 
#Indexing
#Multiple and Duplicate value
#ordered
#Mutable

In [4]:
a = [1,2,3,4,5,6,7,8,9]
b = ["apple","ball","cat","dog","eye"]
print(type(a))
print(type(b))

<class 'list'>
<class 'list'>

In [12]:
b = ["apple","ball","cat","dog","eye"]
print(b[0])
print(b[-1])
print(b[0:4])
print(b[::-1])
print(b[0:4:2])

apple
eye
['apple', 'ball', 'cat', 'dog']
['eye', 'dog', 'cat', 'ball', 'apple']
['apple', 'cat']

In [15]:
a = [1,1.5,"hello",True,1,1]
print(a)

[1, 1.5, 'hello', True, 1, 1]

In [19]:
a = [1,1.5,"hello",True,1,1]
a[0]=5
a[-1]="hi"
print(a)

[5, 1.5, 'hello', True, 1, 'hi']

In [22]:
# + *
a = [1,2,3,4,5,6,7,8,9]
b = ["apple","ball","cat","dog","eye"]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'apple', 'ball', 'cat', 'dog', 'eye']

In [29]:
a = [1,2,3,4,5,6,7,8,9]
b = ["apple","ball","cat","dog","eye"]
c = a + b
print(c*2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'apple', 'ball', 'cat', 'dog', 'eye', 1, 2, 3, 4, 5, 6, 7, 8, 9, 'apple', 'ball', 'cat', 'dog', 'eye']

In [32]:
# a = list()
a = []
a = a + ["Apple"]
a = a + ["ball"]
a = a + ["cat"]
print(a)

['Apple', 'ball', 'cat']

In [41]:
a=[]
n = int(input("enter a number - "))
for i in range(n):
    x = int(input("enter value of x = "))
    a = a + [x]
print(a)

enter a number - 5
enter value of x = 45
enter value of x = 66
enter value of x = 2
enter value of x = 12
enter value of x = 33
[45, 66, 2, 12, 33]

In [42]:
print("The maximum value = ",max(a))
print("The minimum value = ",min(a))
print("The sum is = ",sum(a))

The maximum value =  66
The minimum value =  2
The sum is =  158

In [43]:
a.sort()
print(a)

[2, 12, 33, 45, 66]

In [45]:
a.reverse()
print(a)

[66, 45, 33, 12, 2]

In [50]:
a = ["1zebra","animal","cat","lion","tiger","Zebra"]
a.sort()
print(a)

['1zebra', 'Zebra', 'animal', 'cat', 'lion', 'tiger']

In [51]:
# To insert values 
# append() insert() extend()
# #delete
# del remove() pop()

In [54]:
a = ["1zebra","animal","cat","lion","tiger","Zebra"]
for i in a:
    print(i, end=" ")

1zebra animal cat lion tiger Zebra

In [62]:
#append
a = ["1zebra","animal","cat","lion","tiger","Zebra"]
a.append("Banana")
a.remove("animal")
print(a)

['1zebra', 'cat', 'lion', 'tiger', 'Zebra', 'Banana', 'b', 'a', 'n', 'a', 'n', 'a']

In [65]:
a = ["1zebra","animal","cat","lion","tiger","Zebra"]
a.insert(1,"wolf")
print(a)

['1zebra', 'wolf', 'animal', 'cat', 'lion', 'tiger', 'Zebra']

In [68]:
a = ["1zebra","animal","cat","lion","tiger","Zebra"]
b = [1,2,3,4,5]
a.extend(b)
print(a)

['1zebra', 'animal', 'cat', 'lion', 'tiger', 'Zebra', 1, 2, 3, 4, 5]

In [72]:
a = []
n = int(input("enter a number = "))
for i in range(n):
    x = int(input("enter a number = "))
    a.append(x)
print(a)

enter a number = 3
enter a number = 4
enter a number = 5
enter a number = 5
[4, 5, 5]

In [75]:
a = ["1zebra","animal","cat","lion","tiger","Zebra"]
n = input("enter a name: ")
if n in a:
    print("yes")
else:
    print("no")

enter a name: bipin
no

In [79]:
a = ["1zebra","animal","cat","lion","tiger","Zebra", "cat","woman"]
a.count("cat")

2

In [1]:
# delete 
# del remove() pop()

In [3]:
a = ["1zebra","animal","cat","lion","tiger","Zebra", "cat","woman"]
set = a.pop()
print(set)

woman

'cat'

In [9]:
a = ["1zebra","animal","cat","lion","tiger","Zebra", "cat","woman"]
del a[1]
print(a)
a.index("Zebra")

['1zebra', 'cat', 'lion', 'tiger', 'Zebra', 'cat', 'woman']

4

In [14]:
a = ["1zebra","animal","cat","lion","tiger","Zebra", "cat","woman"]
a.sort()
for i in range(2):
    a.remove("cat")
print(a)

['1zebra', 'Zebra', 'animal', 'lion', 'tiger', 'woman']

In [17]:
a = ["1zebra","animal","cat","lion","tiger","Zebra", "cat","woman"]
n = a.count("cat")
for i in range(n):
    a.remove("cat")
print(a)

['1zebra', 'animal', 'lion', 'tiger', 'Zebra', 'woman']

In [21]:
b = ['apple','cat','ball','fish','dog','gold','gold','gold']
m=b.count('gold')
b.sort()
print(b)
print(m)

['apple', 'ball', 'cat', 'dog', 'fish', 'gold', 'gold', 'gold']
3

In [31]:
b = ['apple','cat','ball','fish','dog','gold','gold','gold']
for i in range(len(b)):
    if b[i] == "gold":
        print(i)

5
6
7

In [43]:
a = ['Apple','Cat','Ball','Fish','Dog','Gold','Golden','Goldman','cat','ball']
for i in a:
    if i[0] == "G":
        print(i)

Gold
Golden
Goldman

In [33]:
a = ['Apple','Cat','Ball','Fish','Dog','Gold','Gold','gold','cat','ball']
for i in range(len(a)):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [56]:
# List inside List
#two-dimensional array
a = [[1,2,3],[4,5,6],[7,8,9]]
print(a)
print(type(a))
print(len(a))
print(a[0])
print(a[1])
print(a[2])
print(a[2][2])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
<class 'list'>
3
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
9

In [57]:
info = [['Ram',40,'kathmandu'],['shyam',22,'dang'],['hari',30,'taplejung']]
print(info)

[['Ram', 40, 'kathmandu'], ['shyam', 22, 'dang'], ['hari', 30, 'taplejung']]

In [73]:
info = []
n = int(input("enter n = "))
for i in range(n):
    name = input("enter a name: ")
    age = int(input("enter a age: "))
    address = input("enter your address: ")
    data = [name,age,address]
    info.append(data)
print(info)

enter n = 2
enter a name: ram
enter a age: 19
enter your address: nepal
enter a name: sita
enter a age: 20
enter your address: india
[['ram', 19, 'nepal'], ['sita', 20, 'india']]

In [74]:
print(info)
info[0][0] = "bipin"
print(info)

[['ram', 19, 'nepal'], ['sita', 20, 'india']]
[['bipin', 19, 'nepal'], ['sita', 20, 'india']]

In [75]:
del info[0][0]
print(info)

[[19, 'nepal'], ['sita', 20, 'india']]

In [76]:
#pop
a = [['ram', 19, 'nepal'], ['sita', 20, 'india']]
b = a.pop(1)
print(a)
print(b)

[['ram', 19, 'nepal']]
['sita', 20, 'india']

In [ ]:
# search row data using name
# a = [['ram', 19, 'nepal'], ['sita', 20, 'india']]