In [ ]:
#for loop
#while loop

In [3]:
#different type of range
range(5) # 0 1 2 3 4 
range(1,5) # 1,2,3,4
range(1,10,2) # 1,3,5,7,9

range(0, 5)

In [8]:
for i in range(5):
    print(i)

0
1
2
3
4

In [18]:
for i in range(1,5):
    print(i)

1
2
3
4

In [14]:
for i in range(1,11,3):
    print(i)

1
4
7
10

In [16]:
for i in range(6):
    print(i,"hey")

0 hey
1 hey
2 hey
3 hey
4 hey
5 hey

In [8]:
for i in range(5,0,-1):
    print(i*"2")

22222
2222
222
22
2

In [12]:
n = int(input("enter a number= "))
for i in range(0,11):
    print(n,"*" ,i, "=", i*n)

enter a number= 4
4 * 0 = 0
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [1]:
for i in range(3):
    name = input("enter your name: ")
    physics = int(input("enter your physics marks: "))
    maths = int(input("enter your maths marks: "))
    chemistry = int(input("enter your chemistry marks: "))
    biology = int(input("enter your biology marks: "))
    english = int(input("enter your english marks: "))

    total = physics + maths + chemistry + biology + english 

    per = total/5

    if per>=80:
        grade = "A"
    elif per>=60:
        grade = "B"
    elif per>=45:
        grade = "C"
    else:
        grade = "Fail"
    print("Name= ", name)
    print("Total= ", total)
    print("percentage= ", per)
    print("Grade= ", grade)

enter your name: Bipin Ranabhat
enter your physics marks: 65
enter your maths marks: 65
enter your chemistry marks: 45
enter your biology marks: 75
enter your english marks: 85
Name=  Bipin Ranabhat
Total=  335
percentage=  67.0
Grade=  B
enter your name: Bibek Ranabhat
enter your physics marks: 63
enter your maths marks: 96
enter your chemistry marks: 98
enter your biology marks: 94
enter your english marks: 88
Name=  Bibek Ranabhat
Total=  439
percentage=  87.8
Grade=  A
enter your name: salina giri
enter your physics marks: 98
enter your maths marks: 98
enter your chemistry marks: 75
enter your biology marks: 36
enter your english marks: 85
Name=  salina giri
Total=  392
percentage=  78.4
Grade=  B

In [18]:
for i in range(5,0,-1):
    print(i*" * ")
for i in range(0,6,1):
    print(i*" * ")

 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *

In [12]:
s = 0
for i in range(5):
    x = int(input("Enter x = "))
    s = s + x
    print(s)

Enter x = 4
4
Enter x = 4
8
Enter x = 4
12
Enter x = 5
17
Enter x = 5
22

In [27]:
s = 1
for i in range(5):
    x = int(input("Enter x = "))  
    s = s * x
    print(s)

Enter x = 1
1
Enter x = 5
5
Enter x = 6
30
Enter x = 8
240
Enter x = 9
2160

In [41]:
s = 1
n = int(input("enter value of n = "))
for i in range(1,n+1):
    s = s*i
    print(s)

enter value of n = 5
1
2
6
24
120

In [46]:
info = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("enter your name: ")
    phone = str(input("enter your number: "))
    x = name + "-" + phone + "\n"
    info = info + x
print(info)

Enter n = 2
enter your name: ram
enter your number: 98555555555
ram-98555555555

enter your name: sham
enter your number: 4444462221
ram-98555555555
sham-4444462221

In [1]:
# WAP to create a billing application
# ask user name of product, price of product, quantity of product, total sum of the product, grand total

In [3]:
info = str()
grand_total = 0
n = int(input("enter number of entries: " "\n"))

for i in range(n):
    name = input("enter your product name: ")
    price = float(input("enter product's price: "))
    quantity = int(input("enter number of product: "))
    total = price * quantity
    grand_total = grand_total + total
    x = "Product name: "+ name +"\n" + "Product price: " + str(price)  +"\n" "Total payment: " + str(total) + "\n" "\n"
    info = info + x
print(info)
print("Total price: ",grand_total)

enter number of entries:
3
enter your product name: bread
enter product's price: 45
enter number of product: 4
enter your product name: pan
enter product's price: 444
enter number of product: 4
enter your product name: cake
enter product's price: 555
enter number of product: 8
Product name: bread
Product price: 45.0
Total payment: 180.0

Product name: pan
Product price: 444.0
Total payment: 1776.0

Product name: cake
Product price: 555.0
Total payment: 4440.0


Total price:  6396.0

In [27]:
a = "bipin JBR"
for i in a:
    if i !=" ":
        print(i, end ="")

bpn JBR

In [7]:
a = "bipin_JBR"
for i in a:
    if i !="_" :
        print(i,end ="")

bipinJBRR

In [2]:
# while <condition>
# <operation>

In [9]:
a = 0
while a<5:
    print(a,"hello world")
    a = a+1

0 hello world
1 hello world
2 hello world
3 hello world
4 hello world
5 hello world

In [10]:
a = 5
while a>0:
    print(a,"hello world")
    a = a-1

5 hello world
4 hello world
3 hello world
2 hello world
1 hello world

In [13]:
n = int(input("enter value of n: "))
i = 1
while i <= 10:
    print(n,"*",i,"=",n*i)
    i = i+1

enter value of n: 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [19]:
s = 0
i=0
n = int(input("enter a number: "))
while i < n:
    x = int(input("enter value of n: "))
    s = s+x
    i += 1
    print(s)

enter a number: 4
enter value of n: 45
45
enter value of n: 55
100
enter value of n: 55
155
enter value of n: 55
210

In [ ]:
# WAP TO CHECK IF THE GIVEN NUMBER IS PRIME OR COMPOSITE